**/node_modules
npm-debug.log
**/dist
# Cache used by TypeScript's incremental build
*.tsbuildinfo
**/*.local.*
/docs/
/server/certs
/.github/
/.vscode/
/helm
notifyBC.code-workspace
/coverage/
windows-service.js
