apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "NotifyBC.fullname" . }}-cron
  labels:
    {{- include "NotifyBC.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "NotifyBC.fullname" . }}-cron
  minReplicas: 1
  maxReplicas: 1
